<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionLabel" jhiTranslate="expensifyApp.transaction.home.createOrEditLabel">Create Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transaction.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.transactionName" for="field_transactionName">Transaction Name</label>
            <input type="text" class="form-control" name="transactionName" id="field_transactionName"
                [(ngModel)]="transaction.transactionName" required/>
            <div [hidden]="!(editForm.controls.transactionName?.dirty && editForm.controls.transactionName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.transactionName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
                <label class="form-control-label" jhiTranslate="expensifyApp.transaction.amount" for="field_amount">Transaction Amount</label>
                <input type="text" class="form-control" name="amount" id="field_amount"
                    [(ngModel)]="transaction.amount" required/>
                <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.transactionDate" for="field_transactionDate">Transaction Date</label>
            <div class="d-flex">
                <input id="field_transactionDate" type="datetime-local" class="form-control" name="transactionDate" [(ngModel)]="transaction.transactionDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.transactionDate?.dirty && editForm.controls.transactionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.transactionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.transactionDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="transaction.createdDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.modifiedDate" for="field_modifiedDate">Modified Date</label>
            <div class="d-flex">
                <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" [(ngModel)]="transaction.modifiedDate"
                />
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.delFlag" for="field_delFlag">Del Flag</label>
            <input type="checkbox" class="form-control" name="delFlag" id="field_delFlag"
                [(ngModel)]="transaction.delFlag" />
            <div [hidden]="!(editForm.controls.delFlag?.dirty && editForm.controls.delFlag?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.delFlag?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div> -->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="transaction.comment" />
        </div>

        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="transaction.userId"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div> -->
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="expensifyApp.transaction.transactionCategory" for="field_transactionCategory">Transaction Category</label>
            <select class="form-control" id="field_transactionCategory" name="transactionCategory" [(ngModel)]="transaction.transactionCategoryId"  required>
                <option *ngIf="!editForm.value.transactionCategory" [ngValue]="null" selected></option>
                <option [ngValue]="transactionCategoryOption.id" *ngFor="let transactionCategoryOption of transactioncategories; trackBy: trackTransactionCategoryById">{{transactionCategoryOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.transactionCategory?.dirty && editForm.controls.transactionCategory?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.transactionCategory?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
