
<div *ngIf="transactionFunnel">
    <h2><span jhiTranslate="expensifyApp.transactionFunnel.detail.title">Transaction Funnel</span> {{transactionFunnel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="expensifyApp.transactionFunnel.percentage">Percentage</span></dt>
        <dd>
            <span>{{transactionFunnel.percentage}}</span>
        </dd>
        <dt><span jhiTranslate="expensifyApp.transactionFunnel.transactionCategory">Transaction Category</span></dt>
        <dd>
            <div *ngIf="transactionFunnel.transactionCategoryId">
                <a [routerLink]="['/transaction-category', transactionFunnel.transactionCategoryId]">{{transactionFunnel.transactionCategoryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction-funnel/'+ transactionFunnel.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
