<div>
    <h2>
        <span jhiTranslate="expensifyApp.transactionFunnel.home.title">Transaction Funnels</span>
        <button class="btn btn-primary float-right jh-create-entity create-transaction-funnel" [routerLink]="['/', { outlets: { popup: ['transaction-funnel-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="expensifyApp.transactionFunnel.home.createLabel">
            Create new Transaction Funnel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="transactionFunnels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="expensifyApp.transactionFunnel.percentage">Percentage</span></th>
            <th><span jhiTranslate="expensifyApp.transactionFunnel.transactionCategory">Transaction Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionFunnel of transactionFunnels ;trackBy: trackId">
                <td><a [routerLink]="['../transaction-funnel', transactionFunnel.id ]">{{transactionFunnel.id}}</a></td>
                <td>{{transactionFunnel.percentage}}</td>
                <td>
                    <div *ngIf="transactionFunnel.transactionCategoryId">
                        <a [routerLink]="['../transaction-category', transactionFunnel.transactionCategoryId  ]" >{{transactionFunnel.transactionCategoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../transaction-funnel', transactionFunnel.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction-funnel/'+ transactionFunnel.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction-funnel/'+ transactionFunnel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
